node-red/data/flows.json
[{"id":"1b5e05d0.356c1a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"26584c7e.c410f4","type":"mqtt-broker","z":"","name":"tracker_dcs_mqtt","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f25576dc.e747f8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"e831694e.1a4d98","type":"ui_group","z":"","name":"HV Power supply","tab":"f25576dc.e747f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"bfa4e8f5.223938","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"dbd2c210.cc1ae","type":"ui_group","z":"","name":"Sensors","tab":"f25576dc.e747f8","order":2,"disp":true,"width":"6","collapse":false},{"id":"82bebf6b.1bb49","type":"mqtt out","z":"1b5e05d0.356c1a","name":"switch HV","topic":"/hv/cmd/switch/0","qos":"","retain":"","broker":"26584c7e.c410f4","x":460,"y":360,"wires":[]},{"id":"edaf15b7.e93438","type":"inject","z":"1b5e05d0.356c1a","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":110,"y":340,"wires":[["16f4f7ff.3c89d8"]]},{"id":"af95bf21.8532f","type":"inject","z":"1b5e05d0.356c1a","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":110,"y":380,"wires":[["16f4f7ff.3c89d8"]]},{"id":"d459195d.5c5308","type":"mqtt out","z":"1b5e05d0.356c1a","name":"HV SETV","topic":"/hv/cmd/setv/0","qos":"","retain":"","broker":"26584c7e.c410f4","x":460,"y":220,"wires":[]},{"id":"5e033e49.1207a","type":"inject","z":"1b5e05d0.356c1a","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"num","x":110,"y":180,"wires":[["ec9917f.eee1fe8"]]},{"id":"9656635.a76daa","type":"inject","z":"1b5e05d0.356c1a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"num","x":110,"y":220,"wires":[["ec9917f.eee1fe8"]]},{"id":"2c40910c.ba466e","type":"inject","z":"1b5e05d0.356c1a","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":110,"y":260,"wires":[["ec9917f.eee1fe8"]]},{"id":"16f4f7ff.3c89d8","type":"ui_switch","z":"1b5e05d0.356c1a","name":"HV switch","label":"HV enable","tooltip":"","group":"e831694e.1a4d98","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":280,"y":360,"wires":[["82bebf6b.1bb49","e8455b96.3a5be8"]]},{"id":"dfc1869e.1408a8","type":"mqtt in","z":"1b5e05d0.356c1a","name":"HV status","topic":"/hv/status","qos":"2","datatype":"auto","broker":"26584c7e.c410f4","x":100,"y":80,"wires":[["f2e30a52.5a7ec8"]]},{"id":"ec9917f.eee1fe8","type":"ui_slider","z":"1b5e05d0.356c1a","name":"Vset","label":"Voltage 1","tooltip":"","group":"e831694e.1a4d98","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"5","max":"15","step":".1","x":290,"y":220,"wires":[["d459195d.5c5308"]]},{"id":"12054296.b7a34d","type":"ui_gauge","z":"1b5e05d0.356c1a","name":"HV voltage","group":"e831694e.1a4d98","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge 1","label":"V","format":"{{value | number:2}}","min":"5","max":"15","colors":["#00b500","#e6e600","#ca3838"],"seg1":"150","seg2":"300","x":650,"y":80,"wires":[]},{"id":"f2e30a52.5a7ec8","type":"json","z":"1b5e05d0.356c1a","name":"decode status","property":"payload","action":"","pretty":false,"x":260,"y":80,"wires":[["b5eb05b6.727098","ed1de69c.8d0f18"]]},{"id":"b5eb05b6.727098","type":"change","z":"1b5e05d0.356c1a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].V0Set","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":80,"wires":[["12054296.b7a34d","ec9917f.eee1fe8"]]},{"id":"a7b5fa0a.701a98","type":"mqtt in","z":"1b5e05d0.356c1a","name":"","topic":"/sensor_1/#","qos":"2","datatype":"auto","broker":"26584c7e.c410f4","x":120,"y":480,"wires":[["a9feac90.baac2"]]},{"id":"87d7e9b9.97aa98","type":"ui_gauge","z":"1b5e05d0.356c1a","name":"","group":"dbd2c210.cc1ae","order":2,"width":0,"height":0,"gtype":"wave","title":"Measurement 2","label":"units","format":"{{value}}","min":0,"max":"1.1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":540,"wires":[]},{"id":"39d75c68.300ae4","type":"ui_chart","z":"1b5e05d0.356c1a","name":"","group":"dbd2c210.cc1ae","order":1,"width":0,"height":0,"label":"Measurement 1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":480,"wires":[[]]},{"id":"a9feac90.baac2","type":"json","z":"1b5e05d0.356c1a","name":"decode sensor","property":"payload","action":"","pretty":false,"x":320,"y":480,"wires":[["be91560e.9301a8","4bff750f.013a7c","e09d7864.c5d518"]]},{"id":"be91560e.9301a8","type":"change","z":"1b5e05d0.356c1a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.meas1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":480,"wires":[["39d75c68.300ae4"]]},{"id":"4bff750f.013a7c","type":"change","z":"1b5e05d0.356c1a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.meas2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":540,"wires":[["87d7e9b9.97aa98"]]},{"id":"e09d7864.c5d518","type":"debug","z":"1b5e05d0.356c1a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":340,"y":620,"wires":[]},{"id":"5487ca31.deb4bc","type":"mqtt out","z":"1b5e05d0.356c1a","name":"HV SETV","topic":"/hv/cmd/setv/1","qos":"","retain":"","broker":"26584c7e.c410f4","x":1200,"y":220,"wires":[]},{"id":"8cac4c94.35fd58","type":"mqtt in","z":"1b5e05d0.356c1a","name":"HV status","topic":"/hv/status","qos":"2","datatype":"auto","broker":"26584c7e.c410f4","x":840,"y":80,"wires":[["b381e4bc.770ab"]]},{"id":"e7aab702.01d9a8","type":"ui_slider","z":"1b5e05d0.356c1a","name":"Vset","label":"Voltage 2","tooltip":"","group":"e831694e.1a4d98","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"5","max":"15","step":".1","x":1030,"y":220,"wires":[["5487ca31.deb4bc"]]},{"id":"1f2817ff.f58a58","type":"ui_gauge","z":"1b5e05d0.356c1a","name":"HV voltage","group":"e831694e.1a4d98","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge 2","label":"V","format":"{{value | number:2}}","min":"5","max":"15","colors":["#00b500","#e6e600","#ca3838"],"seg1":"150","seg2":"300","x":1390,"y":80,"wires":[]},{"id":"b381e4bc.770ab","type":"json","z":"1b5e05d0.356c1a","name":"decode status","property":"payload","action":"","pretty":false,"x":1000,"y":80,"wires":[["93284371.1e89b"]]},{"id":"93284371.1e89b","type":"change","z":"1b5e05d0.356c1a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1].V0Set","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":80,"wires":[["1f2817ff.f58a58","e7aab702.01d9a8"]]},{"id":"ebb5b994.df9de","type":"ui_led","z":"1b5e05d0.356c1a","group":"e831694e.1a4d98","order":5,"width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"1","valueType":"num"},{"color":"green","value":"0","valueType":"num"}],"allowColorForValueInMessage":false,"name":"","x":680,"y":220,"wires":[]},{"id":"ed1de69c.8d0f18","type":"change","z":"1b5e05d0.356c1a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].on","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":140,"wires":[["ebb5b994.df9de"]]},{"id":"e8455b96.3a5be8","type":"change","z":"1b5e05d0.356c1a","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":300,"wires":[["ebb5b994.df9de"]]}]