node-red/data/flows.json
[{"id":"578ae253.39d5dc","type":"tab","label":"CAEN DCS","disabled":false,"info":""},{"id":"73aaaccb.05ac8c","type":"tab","label":"Julabo","disabled":false,"info":""},{"id":"20ad0667.88f3a2","type":"tab","label":"Switchbox","disabled":false,"info":""},{"id":"55eb0f04.c90b48","type":"tab","label":"MARTA","disabled":false,"info":""},{"id":"26584c7e.c410f4","type":"mqtt-broker","z":"","name":"tracker_dcs_mqtt","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bfa4e8f5.223938","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7e8b733.856580c","type":"ui_tab","z":"","name":"CAEN","icon":"dashboard","disabled":false,"hidden":false},{"id":"55e11d43.79404c","type":"ui_group","z":"","name":"DCS","tab":"7e8b733.856580c","order":1,"disp":true,"width":"6","collapse":false},{"id":"2d8bd6da.62907a","type":"ui_group","z":"","name":"Channel LV","tab":"7e8b733.856580c","order":3,"disp":true,"width":8,"collapse":false},{"id":"bfc3a9a9.b0e2c8","type":"ui_group","z":"","name":"Channel HV","tab":"7e8b733.856580c","order":4,"disp":true,"width":8,"collapse":false},{"id":"ef70289f.1c5428","type":"ui_tab","z":"","name":"Julabo","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"bbab90b3.47e2b","type":"ui_group","z":"","name":"Control","tab":"ef70289f.1c5428","order":1,"disp":true,"width":"6","collapse":false},{"id":"b5a89dff.3417b8","type":"ui_group","z":"","name":"Setpoints","tab":"ef70289f.1c5428","order":2,"disp":true,"width":7,"collapse":false},{"id":"e15d9d0b.9144f8","type":"ui_group","z":"","name":"Monitor","tab":"ef70289f.1c5428","order":3,"disp":true,"width":8,"collapse":false},{"id":"6df6911f.c848c","type":"ui_tab","z":"","name":"Switchbox","icon":"dashboard","disabled":false,"hidden":false},{"id":"7bd74f62.b0fa5","type":"ui_group","z":"","name":"Channels","tab":"6df6911f.c848c","order":4,"disp":true,"width":"6","collapse":false},{"id":"11b46061.8fc1e","type":"ui_group","z":"","name":"Power","tab":"6df6911f.c848c","order":3,"disp":true,"width":"6","collapse":false},{"id":"7e5e096a.4adf6","type":"ui_group","z":"","name":"Status","tab":"6df6911f.c848c","order":2,"disp":true,"width":"6","collapse":false},{"id":"e0b0bdf.5e1cd4","type":"ui_group","z":"","name":"Config","tab":"6df6911f.c848c","order":1,"disp":true,"width":"6","collapse":false},{"id":"c189fb17.b06b5","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"\\r","responsetimeout":"10000"},{"id":"fae41578.1d996","type":"mqtt-broker","z":"","name":"antoine","broker":"192.168.0.108","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d67d8101.e61c8","type":"ui_tab","z":"","name":"MARTA","icon":"dashboard","disabled":false,"hidden":false},{"id":"c16c8393.f6e92","type":"ui_group","z":"","name":"DCS","tab":"d67d8101.e61c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"237a9970.0a6116","type":"ui_group","z":"","name":"Settings","tab":"d67d8101.e61c8","order":2,"disp":true,"width":"6","collapse":false},{"id":"f29851fd.f560d8","type":"ui_group","z":"","name":"Monitoring","tab":"d67d8101.e61c8","order":3,"disp":true,"width":"12","collapse":false},{"id":"e94eab4a.91214","type":"ui_spacer","name":"spacer","group":"2d8bd6da.62907a","order":2,"width":1,"height":1},{"id":"c45858df.1d4d4","type":"ui_spacer","name":"spacer","group":"2d8bd6da.62907a","order":4,"width":1,"height":1},{"id":"3e0410d8.18e79","type":"ui_spacer","name":"spacer","group":"2d8bd6da.62907a","order":8,"width":4,"height":1},{"id":"a5edda5e.4161d8","type":"ui_spacer","name":"spacer","group":"bfc3a9a9.b0e2c8","order":2,"width":1,"height":1},{"id":"c13c600c.603258","type":"ui_spacer","name":"spacer","group":"bfc3a9a9.b0e2c8","order":4,"width":1,"height":1},{"id":"edae3f95.12a92","type":"ui_spacer","name":"spacer","group":"bfc3a9a9.b0e2c8","order":8,"width":4,"height":1},{"id":"98c4a754.f46718","type":"ui_spacer","name":"spacer","group":"e15d9d0b.9144f8","order":4,"width":4,"height":1},{"id":"cb3330fa.97f83","type":"ui_spacer","name":"spacer","group":"e15d9d0b.9144f8","order":5,"width":4,"height":1},{"id":"d09a6249.bae368","type":"ui_spacer","name":"spacer","group":"e15d9d0b.9144f8","order":6,"width":4,"height":1},{"id":"a5b051e4.f5f8c8","type":"mqtt in","z":"578ae253.39d5dc","name":"HV status","topic":"dcs/channels","qos":"0","datatype":"json","broker":"26584c7e.c410f4","x":180,"y":480,"wires":[["4f9cfc3b.075cc4"]]},{"id":"1efe110e.324d1f","type":"change","z":"578ae253.39d5dc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.lv_setV","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":480,"wires":[["c1714040.9af518"]]},{"id":"93afe3b3.3d37c","type":"change","z":"578ae253.39d5dc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hv_setV","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":520,"wires":[["a6198fc5.dc3368"]]},{"id":"894cae55.fb8fb","type":"change","z":"578ae253.39d5dc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.lv_status","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":560,"wires":[["20dee951.aa3fae"]]},{"id":"20dee951.aa3fae","type":"ui_led","z":"578ae253.39d5dc","order":1,"group":"2d8bd6da.62907a","width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"0","valueType":"num"},{"color":"#008000","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"LV led","x":770,"y":560,"wires":[]},{"id":"766936d5.8f7d58","type":"change","z":"578ae253.39d5dc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hv_status","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":600,"wires":[["2dc90eb9.cb8fb2"]]},{"id":"2dc90eb9.cb8fb2","type":"ui_led","z":"578ae253.39d5dc","order":1,"group":"bfc3a9a9.b0e2c8","width":2,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"0","valueType":"num"},{"color":"#008000","value":"1","valueType":"num"},{"color":"#ffa500","value":"3","valueType":"num"},{"color":"#ffa500","value":"5","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"HV led","x":770,"y":600,"wires":[]},{"id":"5a59b096.d15a9","type":"ui_text","z":"578ae253.39d5dc","group":"2d8bd6da.62907a","order":3,"width":4,"height":1,"name":"LV status","label":"Status code:","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":640,"wires":[]},{"id":"9d695bbc.c95d18","type":"change","z":"578ae253.39d5dc","name":"LV status","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.lv_status","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":640,"wires":[["5a59b096.d15a9"]]},{"id":"f557dfb4.6cf6c8","type":"change","z":"578ae253.39d5dc","name":"HV status","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hv_status","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":680,"wires":[["7880f68f.acd3d8"]]},{"id":"7880f68f.acd3d8","type":"ui_text","z":"578ae253.39d5dc","group":"bfc3a9a9.b0e2c8","order":3,"width":4,"height":1,"name":"HV status","label":"Status code:","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":680,"wires":[]},{"id":"95b78798.d8c7b8","type":"ui_button","z":"578ae253.39d5dc","name":"Clear","group":"55e11d43.79404c","order":2,"width":0,"height":0,"passthru":false,"label":"Clear alarm","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"dcs/cmd/clear","x":610,"y":120,"wires":[["ebe9f001.dd4b5"]]},{"id":"48c6e6c.392eb18","type":"ui_button","z":"578ae253.39d5dc","name":"Reconnect","group":"55e11d43.79404c","order":4,"width":3,"height":1,"passthru":false,"label":"Reconnect EPICS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"dcs/cmd/reconnect","x":630,"y":80,"wires":[["ebe9f001.dd4b5"]]},{"id":"ebe9f001.dd4b5","type":"mqtt out","z":"578ae253.39d5dc","name":"Commands","topic":"","qos":"0","retain":"","broker":"26584c7e.c410f4","x":910,"y":180,"wires":[]},{"id":"5fa07ad1.ffd14c","type":"mqtt in","z":"578ae253.39d5dc","name":"DCS status","topic":"dcs/status","qos":"0","datatype":"json","broker":"26584c7e.c410f4","x":190,"y":220,"wires":[["7fc6443a.b8327c","2ff3707d.98ec5"]]},{"id":"7fc6443a.b8327c","type":"ui_text","z":"578ae253.39d5dc","group":"55e11d43.79404c","order":1,"width":0,"height":0,"name":"DCS FSM state","label":"FSM state","format":"{{msg.payload.fsm_state}}","layout":"row-spread","x":360,"y":100,"wires":[]},{"id":"e547a812.cdb268","type":"ui_button","z":"578ae253.39d5dc","name":"LV on","group":"55e11d43.79404c","order":5,"width":3,"height":1,"passthru":false,"label":"LV on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"dcs/cmd/switch/lv","topicType":"str","x":610,"y":160,"wires":[["ebe9f001.dd4b5"]]},{"id":"de7cc071.20e88","type":"ui_button","z":"578ae253.39d5dc","name":"LV off","group":"55e11d43.79404c","order":6,"width":3,"height":1,"passthru":false,"label":"LV off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"dcs/cmd/switch/lv","x":610,"y":200,"wires":[["ebe9f001.dd4b5"]]},{"id":"b9ed54cb.1ca078","type":"ui_button","z":"578ae253.39d5dc","name":"HV on","group":"55e11d43.79404c","order":7,"width":3,"height":1,"passthru":false,"label":"HV on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"dcs/cmd/switch/hv","x":610,"y":240,"wires":[["ebe9f001.dd4b5"]]},{"id":"c6f53ac8.929a38","type":"ui_button","z":"578ae253.39d5dc","name":"HV off","group":"55e11d43.79404c","order":8,"width":3,"height":1,"passthru":false,"label":"HV off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"dcs/cmd/switch/hv","x":610,"y":280,"wires":[["ebe9f001.dd4b5"]]},{"id":"4a9a37e1.1ec5c8","type":"ui_gauge","z":"578ae253.39d5dc","name":"LV voltage","group":"2d8bd6da.62907a","order":9,"width":4,"height":3,"gtype":"gage","title":"Voltage","label":"V","format":"{{value | number:2}}","min":"5","max":"15","colors":["#00b500","#e6e600","#ca3838"],"seg1":"7","seg2":"12","x":790,"y":720,"wires":[]},{"id":"4ecacf81.0d1938","type":"ui_gauge","z":"578ae253.39d5dc","name":"HV voltage","group":"bfc3a9a9.b0e2c8","order":9,"width":4,"height":3,"gtype":"gage","title":"Voltage","label":"V","format":"{{value | number:2}}","min":"0","max":"800","colors":["#00b500","#e6e600","#ca3838"],"seg1":"100","seg2":"200","x":790,"y":760,"wires":[]},{"id":"3738e10d.1fc5fe","type":"change","z":"578ae253.39d5dc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hv_vMon","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":760,"wires":[["4ecacf81.0d1938"]]},{"id":"291819f8.9ff67e","type":"change","z":"578ae253.39d5dc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.lv_vMon","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":720,"wires":[["4a9a37e1.1ec5c8"]]},{"id":"7b48bb82.db3974","type":"change","z":"578ae253.39d5dc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hv_iMon","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":840,"wires":[["308db212.a1d3c6"]]},{"id":"50abd631.3cddd8","type":"change","z":"578ae253.39d5dc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.lv_iMon","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":800,"wires":[["c79a1afc.b20de"]]},{"id":"308db212.a1d3c6","type":"ui_gauge","z":"578ae253.39d5dc","name":"HV current","group":"bfc3a9a9.b0e2c8","order":10,"width":4,"height":3,"gtype":"gage","title":"Current","label":"uA","format":"{{value | number:2}}","min":"0","max":"3500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"1000","seg2":"2000","x":790,"y":840,"wires":[]},{"id":"c79a1afc.b20de","type":"ui_gauge","z":"578ae253.39d5dc","name":"LV current","group":"2d8bd6da.62907a","order":10,"width":4,"height":3,"gtype":"gage","title":"Current","label":"A","format":"{{value | number:2}}","min":"0","max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"1","seg2":"2","x":790,"y":800,"wires":[]},{"id":"44745eba.20da38","type":"function","z":"578ae253.39d5dc","name":"set flow channel","func":"flow.set(\"channel\", msg.payload.toString());","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":380,"wires":[[]]},{"id":"4f9cfc3b.075cc4","type":"function","z":"578ae253.39d5dc","name":"filter channel","func":"var channel = flow.get(\"channel\")||\"0\";\nif (msg.payload.id == channel) {\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":480,"wires":[["1efe110e.324d1f","93afe3b3.3d37c","894cae55.fb8fb","766936d5.8f7d58","9d695bbc.c95d18","f557dfb4.6cf6c8","291819f8.9ff67e","3738e10d.1fc5fe","50abd631.3cddd8","7b48bb82.db3974","c6d6532e.36a91","b5141595.23e07"]]},{"id":"c8239099.e44338","type":"mqtt out","z":"578ae253.39d5dc","name":"SETV","topic":"","qos":"0","retain":"","broker":"26584c7e.c410f4","x":970,"y":920,"wires":[]},{"id":"7f5a6fa2.5678d","type":"function","z":"578ae253.39d5dc","name":"build lv setV cmd","func":"var channel = flow.get(\"channel\")||\"0\";\nvar setV = flow.get(\"lv_setV\")||5;\nvar newMsg = { payload: setV, topic: \"dcs/cmd/setv/lv/\"+channel };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":900,"wires":[["c8239099.e44338"]]},{"id":"334ce929.5eda9e","type":"ui_button","z":"578ae253.39d5dc","name":"Refresh","group":"55e11d43.79404c","order":3,"width":3,"height":1,"passthru":true,"label":"Refresh interface","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"dcs/cmd/refresh","x":620,"y":340,"wires":[["ebe9f001.dd4b5"]]},{"id":"a058fd17.d7f578","type":"delay","z":"578ae253.39d5dc","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":450,"y":340,"wires":[["334ce929.5eda9e"]]},{"id":"2ff3707d.98ec5","type":"function","z":"578ae253.39d5dc","name":"visibility","func":"var reconnect_enabled = false;\nvar clear_enabled = false;\nvar hv_on_enabled = true;\nvar hv_off_enabled = true;\nvar lv_on_enabled = true;\nvar lv_off_enabled = true;\n\nif (msg.payload.fsm_state == \"ERROR\") {\n    clear_enabled = true;\n}\nif (msg.payload.fsm_state == \"DISCONNECTED\") {\n    reconnect_enabled = true;\n}\nif (msg.payload.fsm_state == \"LV_OFF\" ||\n    msg.payload.fsm_state == \"LV_MIX\") {\n    hv_on_enabled = false;\n    hv_off_enabled = false;\n}\nif (msg.payload.fsm_state == \"LV_ON\") {\n    lv_on_enabled = false;\n    hv_off_enabled = false;\n}\nif (msg.payload.fsm_state == \"LV_OFF\") {\n    lv_off_enabled = false;\n}\nif (msg.payload.fsm_state == \"HV_ON\" ||\n    msg.payload.fsm_state == \"HV_MIX\" ||\n    msg.payload.fsm_state == \"HV_RAMP\") {\n    lv_off_enabled = false;\n    lv_on_enabled = false;\n}\nif (msg.payload.fsm_state == \"HV_ON\") {\n    hv_on_enabled = false;\n}\nif (msg.payload.fsm_state == \"DISCONNECTED\" ||\n    msg.payload.fsm_state == \"ERROR\") {\n    lv_on_enabled = false;\n    lv_off_enabled = false;\n    hv_on_enabled = false;\n    hv_off_enabled = false;\n}\n\nreturn [\n    { enabled: reconnect_enabled }, \n    { enabled: clear_enabled }, \n    { enabled: lv_on_enabled }, \n    { enabled: lv_off_enabled },\n    { enabled: hv_on_enabled },\n    { enabled: hv_off_enabled}\n    ];","outputs":6,"noerr":0,"initialize":"","finalize":"","x":380,"y":220,"wires":[["48c6e6c.392eb18"],["95b78798.d8c7b8"],["e547a812.cdb268"],["de7cc071.20e88"],["b9ed54cb.1ca078"],["c6f53ac8.929a38"]]},{"id":"c1714040.9af518","type":"ui_gauge","z":"578ae253.39d5dc","name":"LV setV gauge","group":"2d8bd6da.62907a","order":6,"width":4,"height":3,"gtype":"gage","title":"Set voltage","label":"V","format":"{{value | number:2}}","min":"5","max":"15","colors":["#00b500","#e6e600","#ca3838"],"seg1":"7","seg2":"12","x":800,"y":480,"wires":[]},{"id":"a6198fc5.dc3368","type":"ui_gauge","z":"578ae253.39d5dc","name":"HV setV gauge","group":"bfc3a9a9.b0e2c8","order":6,"width":4,"height":3,"gtype":"gage","title":"Set voltage","label":"V","format":"{{value | number:2}}","min":"0","max":"800","colors":["#00b500","#e6e600","#ca3838"],"seg1":"100","seg2":"200","x":800,"y":520,"wires":[]},{"id":"2a16fa85.1c25de","type":"ui_button","z":"578ae253.39d5dc","name":"Send set LV","group":"2d8bd6da.62907a","order":5,"width":4,"height":1,"passthru":false,"label":"Set LV:","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"/dcs/cmd/switch/lv","topicType":"str","x":590,"y":900,"wires":[["7f5a6fa2.5678d"]]},{"id":"7c5fe6d7.0a2128","type":"ui_button","z":"578ae253.39d5dc","name":"Send set HV","group":"bfc3a9a9.b0e2c8","order":5,"width":4,"height":1,"passthru":false,"label":"Set HV:","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"/dcs/cmd/switch/lv","topicType":"str","x":590,"y":940,"wires":[["9386bdb9.fbcce8"]]},{"id":"ffc2857c.152dd8","type":"ui_numeric","z":"578ae253.39d5dc","name":"LV setV","label":"","tooltip":"","group":"2d8bd6da.62907a","order":7,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"lv_setV","topicType":"str","format":"{{msg.payload}}V","min":"0","max":"15","step":"0.1","x":220,"y":900,"wires":[["4987f6fb.c99308"]]},{"id":"7b4edbd1.df1534","type":"ui_numeric","z":"578ae253.39d5dc","name":"HV setV","label":"","tooltip":"","group":"bfc3a9a9.b0e2c8","order":7,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"hv_setV","topicType":"str","format":"{{msg.payload}}V","min":"0","max":"800","step":".1","x":220,"y":940,"wires":[["4987f6fb.c99308"]]},{"id":"4987f6fb.c99308","type":"function","z":"578ae253.39d5dc","name":"set flow setV","func":"flow.set(msg.topic, msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":920,"wires":[[]]},{"id":"9386bdb9.fbcce8","type":"function","z":"578ae253.39d5dc","name":"build hv setV cmd","func":"var channel = flow.get(\"channel\")||\"0\";\nvar setV = flow.get(\"hv_setV\")||5;\nvar newMsg = { payload: setV, topic: \"dcs/cmd/setv/hv/\"+channel };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":940,"wires":[["c8239099.e44338"]]},{"id":"9870987d.55ba5","type":"ui_numeric","z":"578ae253.39d5dc","name":"Channel selector","label":"Channel","tooltip":"","group":"55e11d43.79404c","order":9,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":230,"y":360,"wires":[["a058fd17.d7f578","44745eba.20da38"]]},{"id":"c6d6532e.36a91","type":"change","z":"578ae253.39d5dc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.module","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":440,"wires":[["e99c9588.771ca"]]},{"id":"e99c9588.771ca","type":"ui_text","z":"578ae253.39d5dc","group":"55e11d43.79404c","order":10,"width":0,"height":0,"name":"Module name","label":"Module","format":"{{msg.payload}}","layout":"row-spread","x":800,"y":440,"wires":[]},{"id":"bdf0352b.2c36a8","type":"change","z":"73aaaccb.05ac8c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.internal_temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":380,"wires":[["94d279dd.33972"]]},{"id":"32b28581.9bcb1a","type":"change","z":"73aaaccb.05ac8c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.external_temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":420,"wires":[["b62a222a.9641d"]]},{"id":"b106cb92.f8947","type":"ui_text","z":"73aaaccb.05ac8c","group":"bbab90b3.47e2b","order":5,"width":0,"height":0,"name":"Used setpoint","label":"Used setpoint","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":500,"wires":[]},{"id":"316ae072.18e288","type":"change","z":"73aaaccb.05ac8c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.used_setpoint","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":500,"wires":[["b106cb92.f8947"]]},{"id":"935c16aa.2775f","type":"change","z":"73aaaccb.05ac8c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.setpoint_1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":540,"wires":[["1d8e0328.a88e75"]]},{"id":"1d8e0328.a88e75","type":"ui_text","z":"73aaaccb.05ac8c","group":"b5a89dff.3417b8","order":2,"width":4,"height":1,"name":"Setpoint 1","label":"Setpoint 1","format":"{{msg.payload}} °C","layout":"row-spread","x":560,"y":540,"wires":[]},{"id":"f6f99191.2b22a","type":"ui_button","z":"73aaaccb.05ac8c","name":"Reconnect","group":"bbab90b3.47e2b","order":2,"width":3,"height":1,"passthru":false,"label":"Reconnect serial","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"julabo/cmd/reconnect","topicType":"str","x":570,"y":180,"wires":[["8be83b7e.4b3b2"]]},{"id":"8be83b7e.4b3b2","type":"mqtt out","z":"73aaaccb.05ac8c","name":"Commands","topic":"","qos":"0","retain":"","broker":"26584c7e.c410f4","x":850,"y":200,"wires":[]},{"id":"eb9149d3.efb2b","type":"mqtt in","z":"73aaaccb.05ac8c","name":"Julabo status","topic":"julabo/status","qos":"0","datatype":"json","broker":"26584c7e.c410f4","x":90,"y":220,"wires":[["9c04d478.3797c","7af9715b.6924b","97cad51a.d72cc","bdf0352b.2c36a8","32b28581.9bcb1a","316ae072.18e288","935c16aa.2775f","d45d0ce.dc89f7","8b4bf4dc.f286c8","26b3c4c6.2a2004","27499dd1.5bf732"]]},{"id":"9c04d478.3797c","type":"ui_text","z":"73aaaccb.05ac8c","group":"bbab90b3.47e2b","order":3,"width":0,"height":0,"name":"Julabo FSM state","label":"FSM state","format":"{{msg.payload.fsm_state}}","layout":"row-spread","x":390,"y":120,"wires":[]},{"id":"88d06050.de73a","type":"ui_button","z":"73aaaccb.05ac8c","name":"start","group":"bbab90b3.47e2b","order":6,"width":3,"height":1,"passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"julabo/cmd/start","x":550,"y":220,"wires":[["8be83b7e.4b3b2"]]},{"id":"1f56a1b8.a9ce5e","type":"ui_button","z":"73aaaccb.05ac8c","name":"stop","group":"bbab90b3.47e2b","order":7,"width":3,"height":1,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"julabo/cmd/stop","x":550,"y":260,"wires":[["8be83b7e.4b3b2"]]},{"id":"54098926.bac4d","type":"mqtt out","z":"73aaaccb.05ac8c","name":"setpoint and worktemp","topic":"","qos":"0","retain":"","broker":"26584c7e.c410f4","x":540,"y":860,"wires":[]},{"id":"7af9715b.6924b","type":"function","z":"73aaaccb.05ac8c","name":"visibility","func":"var reconnect_enabled = false;\nvar start_enabled = false;\nvar stop_enabled = false;\n\nif (msg.payload.fsm_state == \"DISCONNECTED\") {\n    reconnect_enabled = true;\n}\nif (msg.payload.fsm_state == \"OFF\"){\n    start_enabled = true;\n}\nif (msg.payload.fsm_state == \"ON\" ||\n    msg.payload.fsm_state == \"ERROR\") {\n    stop_enabled = true;\n}\n\nreturn [\n    { enabled: reconnect_enabled }, \n    { enabled: start_enabled }, \n    { enabled: stop_enabled },\n    ];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":360,"y":220,"wires":[["f6f99191.2b22a"],["88d06050.de73a"],["1f56a1b8.a9ce5e"]]},{"id":"94d279dd.33972","type":"ui_gauge","z":"73aaaccb.05ac8c","name":"internal","group":"e15d9d0b.9144f8","order":1,"width":4,"height":3,"gtype":"gage","title":"Internal T°","label":"C","format":"{{value | number:1}}","min":"-50","max":"50","colors":["#4da5e9","#00e60e","#ca3838"],"seg1":"0","seg2":"25","x":560,"y":380,"wires":[]},{"id":"be23d22b.f065f8","type":"ui_button","z":"73aaaccb.05ac8c","name":"Set setpoint 1","group":"b5a89dff.3417b8","order":3,"width":3,"height":1,"passthru":false,"label":"Set working temp","tooltip":"Set the temperature selected in \"Working temperature\" for setpoint 1","color":"","bgcolor":"","icon":"","payload":"work_temp","payloadType":"flow","topic":"","topicType":"str","x":140,"y":860,"wires":[["eb3de181.efc42"]]},{"id":"bf2b22ef.bfdb7","type":"ui_numeric","z":"73aaaccb.05ac8c","name":"Working temperature","label":"Working temperature","tooltip":"","group":"b5a89dff.3417b8","order":8,"width":7,"height":1,"wrap":false,"passthru":true,"topic":"work_temp","topicType":"str","format":"{{msg.payload}}°C","min":"-50","max":"50","step":"0.1","x":120,"y":760,"wires":[["13aae57d.b02063"]]},{"id":"13aae57d.b02063","type":"function","z":"73aaaccb.05ac8c","name":"set flow command","func":"flow.set(msg.topic, msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":760,"wires":[[]]},{"id":"97cad51a.d72cc","type":"change","z":"73aaaccb.05ac8c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.status_code","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":340,"wires":[["b9d192d2.f48fc8"]]},{"id":"b9d192d2.f48fc8","type":"ui_text","z":"73aaaccb.05ac8c","group":"bbab90b3.47e2b","order":4,"width":0,"height":0,"name":"Status","label":"Julabo status code","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":340,"wires":[]},{"id":"b62a222a.9641d","type":"ui_gauge","z":"73aaaccb.05ac8c","name":"external","group":"e15d9d0b.9144f8","order":2,"width":4,"height":3,"gtype":"gage","title":"External T°","label":"C","format":"{{value | number:1}}","min":"-50","max":"50","colors":["#4da5e9","#00e60e","#ca3838"],"seg1":"0","seg2":"25","x":560,"y":420,"wires":[]},{"id":"d45d0ce.dc89f7","type":"change","z":"73aaaccb.05ac8c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.setpoint_2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":580,"wires":[["3f1f1ff.dbe02e"]]},{"id":"3f1f1ff.dbe02e","type":"ui_text","z":"73aaaccb.05ac8c","group":"b5a89dff.3417b8","order":4,"width":4,"height":1,"name":"Setpoint 2","label":"Setpoint 2","format":"{{msg.payload}} °C","layout":"row-spread","x":560,"y":580,"wires":[]},{"id":"8b4bf4dc.f286c8","type":"change","z":"73aaaccb.05ac8c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.setpoint_3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":620,"wires":[["86a7c917.c8e5"]]},{"id":"86a7c917.c8e5","type":"ui_text","z":"73aaaccb.05ac8c","group":"b5a89dff.3417b8","order":6,"width":4,"height":1,"name":"Setpoint 3","label":"Setpoint 3","format":"{{msg.payload}} °C","layout":"row-spread","x":560,"y":620,"wires":[]},{"id":"7cca8bb7.e828ec","type":"ui_button","z":"73aaaccb.05ac8c","name":"Refresh","group":"bbab90b3.47e2b","order":1,"width":3,"height":1,"passthru":false,"label":"Refresh interface","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"julabo/cmd/refresh","x":560,"y":300,"wires":[["8be83b7e.4b3b2"]]},{"id":"5429e409.251ed4","type":"ui_dropdown","z":"73aaaccb.05ac8c","name":"Use setpoint","label":"Use setpoint","tooltip":"Select which setpoint below should be used","place":"Select option","group":"b5a89dff.3417b8","order":1,"width":7,"height":1,"passthru":true,"multiple":false,"options":[{"label":"1","value":1,"type":"num"},{"label":"2","value":2,"type":"num"},{"label":"3","value":3,"type":"num"}],"payload":"","topic":"","x":130,"y":820,"wires":[["68fd5f18.e6f81"]]},{"id":"26b3c4c6.2a2004","type":"change","z":"73aaaccb.05ac8c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.power","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":460,"wires":[["5f49056.0b02a7c"]]},{"id":"5f49056.0b02a7c","type":"ui_gauge","z":"73aaaccb.05ac8c","name":"Power","group":"e15d9d0b.9144f8","order":3,"width":4,"height":3,"gtype":"gage","title":"Power","label":"%","format":"{{value | number:1}}","min":"-100","max":"100","colors":["#4da5e9","#00e60e","#ca3838"],"seg1":"","seg2":"","x":550,"y":460,"wires":[]},{"id":"68fd5f18.e6f81","type":"function","z":"73aaaccb.05ac8c","name":"build cmd","func":"return { payload: { \"setpoint\": msg.payload }, topic: \"julabo/cmd/useSP\" };","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":820,"wires":[["54098926.bac4d"]]},{"id":"eb3de181.efc42","type":"function","z":"73aaaccb.05ac8c","name":"build cmd","func":"return { payload: { \"setpoint\": 1, \"temp\": msg.payload }, topic: \"julabo/cmd/setWT\" };","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":860,"wires":[["54098926.bac4d"]]},{"id":"2aafb03a.e32f8","type":"ui_button","z":"73aaaccb.05ac8c","name":"Set setpoint 2","group":"b5a89dff.3417b8","order":5,"width":3,"height":1,"passthru":false,"label":"Set working temp","tooltip":"Set the temperature selected in \"Working temperature\" for setpoint 2","color":"","bgcolor":"","icon":"","payload":"work_temp","payloadType":"flow","topic":"","topicType":"str","x":140,"y":900,"wires":[["c627f902.2a3c48"]]},{"id":"c627f902.2a3c48","type":"function","z":"73aaaccb.05ac8c","name":"build cmd","func":"return { payload: { \"setpoint\": 2, \"temp\": msg.payload }, topic: \"julabo/cmd/setWT\" };","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":900,"wires":[["54098926.bac4d"]]},{"id":"a7714acc.33d288","type":"ui_button","z":"73aaaccb.05ac8c","name":"Set setpoint 3","group":"b5a89dff.3417b8","order":7,"width":3,"height":1,"passthru":false,"label":"Set working temp","tooltip":"Set the temperature selected in \"Working temperature\" for setpoint 3","color":"","bgcolor":"","icon":"","payload":"work_temp","payloadType":"flow","topic":"","topicType":"str","x":140,"y":940,"wires":[["85f9bdfc.0818c8"]]},{"id":"85f9bdfc.0818c8","type":"function","z":"73aaaccb.05ac8c","name":"build cmd","func":"return { payload: { \"setpoint\": 3, \"temp\": msg.payload }, topic: \"julabo/cmd/setWT\" };","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":940,"wires":[["54098926.bac4d"]]},{"id":"1cbb18d8.0eb907","type":"function","z":"73aaaccb.05ac8c","name":"build cmd","func":"return { payload: {}, topic: \"julabo/cmd/\"+msg.payload };","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":980,"wires":[["54098926.bac4d"]]},{"id":"b5141595.23e07","type":"function","z":"578ae253.39d5dc","name":"visibility","func":"var setv_enabled = true;\n\nif (msg.payload.lv_status == 1) {\n    setv_enabled = false;\n}\n\nreturn { enabled: setv_enabled };","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":860,"wires":[["2a16fa85.1c25de"]]},{"id":"f70b6d85.34c01","type":"mqtt in","z":"20ad0667.88f3a2","name":"switchbox status","topic":"SB/status","qos":"0","datatype":"json","broker":"fae41578.1d996","x":100,"y":180,"wires":[["71a6e2f9.5e3684"]]},{"id":"976330d4.416398","type":"function","z":"20ad0667.88f3a2","name":"visibility logic","func":"var hv_on_enabled = true;\nvar hv_off_enabled = true;\nvar lv_on_enabled = true;\nvar lv_off_enabled = true;\nvar channel_selector_enabled = true;\nvar channel_enable_enabled = true;\nvar channel_disable_enabled = true;\n\nvar lv_on = (msg.payload.lv == 1);\nvar hv_on = (msg.payload.hv == 1);\n\nvar MAX_CHANNELS = 4;\n\nif (!lv_on) {\n    lv_off_enabled = false;\n    hv_on_enabled = false;\n    hv_off_enabled = false;\n}\nif (lv_on) {\n    lv_on_enabled = false;\n}\nif (!hv_on) {\n    hv_off_enabled = false;\n}\nif (hv_on) {\n    lv_off_enabled = false;\n    hv_on_enabled = false;\n}\n\nif (msg.payload.nChannels >= MAX_CHANNELS) {\n    channel_enable_enabled = false;\n}\nif (msg.payload.hv == 1) {\n    channel_selector_enabled = false;\n    channel_enable_enabled = false;\n    channel_disable_enabled = false;\n}\n\n\nreturn [\n    { enabled: lv_on_enabled }, \n    { enabled: lv_off_enabled },\n    { enabled: hv_on_enabled },\n    { enabled: hv_off_enabled},\n    { enabled: channel_selector_enabled },\n    { enabled: channel_enable_enabled },\n    { enabled: channel_disable_enabled },\n    ];","outputs":7,"noerr":0,"initialize":"","finalize":"","x":150,"y":440,"wires":[["5ef1c63c.7ee128"],["21a314e7.7ff224"],["e2128ccb.994c08"],["466600e9.0af158"],["48b285fe.05f6fc"],["7a9c19cb.84a35"],["386b895c.677966","c5862060.3d955"]]},{"id":"5ef1c63c.7ee128","type":"ui_button","z":"20ad0667.88f3a2","name":"LV on","group":"11b46061.8fc1e","order":3,"width":0,"height":0,"passthru":false,"label":"LV on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"LV|ON","payloadType":"str","topic":"SB/cmd","topicType":"str","x":590,"y":280,"wires":[["abeaeb1c.8f14c"]]},{"id":"21a314e7.7ff224","type":"ui_button","z":"20ad0667.88f3a2","name":"LV off","group":"11b46061.8fc1e","order":4,"width":0,"height":0,"passthru":false,"label":"LV off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"LV|OFF","payloadType":"str","topic":"SB/cmd","x":590,"y":320,"wires":[["abeaeb1c.8f14c"]]},{"id":"e2128ccb.994c08","type":"ui_button","z":"20ad0667.88f3a2","name":"HV on","group":"11b46061.8fc1e","order":5,"width":0,"height":0,"passthru":false,"label":"HV on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"HV|ON","payloadType":"str","topic":"SB/cmd","x":590,"y":360,"wires":[["abeaeb1c.8f14c"]]},{"id":"466600e9.0af158","type":"ui_button","z":"20ad0667.88f3a2","name":"HV off","group":"11b46061.8fc1e","order":6,"width":0,"height":0,"passthru":false,"label":"HV off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"HV|OFF","payloadType":"str","topic":"SB/cmd","x":590,"y":400,"wires":[["abeaeb1c.8f14c"]]},{"id":"ee8751d0.e22ba","type":"mqtt out","z":"20ad0667.88f3a2","name":"Commands","topic":"SB/cmd","qos":"0","retain":"","broker":"fae41578.1d996","x":910,"y":380,"wires":[]},{"id":"30b7cd20.06f51a","type":"ui_button","z":"20ad0667.88f3a2","name":"Refresh","group":"7e5e096a.4adf6","order":7,"width":0,"height":0,"passthru":true,"label":"Read status","tooltip":"","color":"","bgcolor":"","icon":"","payload":"STATUS?","payloadType":"str","topic":"SB/cmd","topicType":"str","x":600,"y":440,"wires":[["abeaeb1c.8f14c"]]},{"id":"48b285fe.05f6fc","type":"ui_numeric","z":"20ad0667.88f3a2","name":"Channel selector","label":"Channel","tooltip":"","group":"7bd74f62.b0fa5","order":1,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","topicType":"str","format":"{{value}}","min":"1","max":"48","step":1,"x":430,"y":520,"wires":[["a9e4fdeb.818d9"]]},{"id":"7a9c19cb.84a35","type":"ui_button","z":"20ad0667.88f3a2","name":"Enable channel","group":"7bd74f62.b0fa5","order":2,"width":0,"height":0,"passthru":false,"label":"Enable channel","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":440,"y":560,"wires":[["25d899e.bd6ce66"]]},{"id":"386b895c.677966","type":"ui_button","z":"20ad0667.88f3a2","name":"Disable channel","group":"7bd74f62.b0fa5","order":3,"width":0,"height":0,"passthru":false,"label":"Disable channel","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":440,"y":600,"wires":[["7d4a45b1.42eb54"]]},{"id":"c61d11af.a44ee","type":"ui_led","z":"20ad0667.88f3a2","order":1,"group":"7e5e096a.4adf6","width":0,"height":0,"label":"LV","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"0","valueType":"num"},{"color":"#008000","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"LV led","x":730,"y":140,"wires":[]},{"id":"f6b90a8a.2f4e08","type":"ui_led","z":"20ad0667.88f3a2","order":2,"group":"7e5e096a.4adf6","width":0,"height":0,"label":"HV","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"0","valueType":"num"},{"color":"green","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"name":"HV led","x":730,"y":180,"wires":[]},{"id":"d492be95.caa2","type":"change","z":"20ad0667.88f3a2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.lv","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":140,"wires":[["c61d11af.a44ee"]]},{"id":"51f45a5d.fea074","type":"change","z":"20ad0667.88f3a2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hv","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":180,"wires":[["f6b90a8a.2f4e08"]]},{"id":"71a6e2f9.5e3684","type":"function","z":"20ad0667.88f3a2","name":"find enabled channels","func":"var status = msg.payload.channels;\n\nvar n_chan = 48;\n\nvar i;\nvar hi = 0x100000000;\nvar output = \"\";\nvar nChannels = 0;\n\n// javascript bitwise operations are done on 32 bit integers,\n// so we need to handle the first 32 bits \n// and the remaining 16 bits separately\n// (the variable is originally a 64 bit float)\n\nfor (i = 0; i < 32; i++) {\n  if ((status >>> i) & 1) {\n      output += (i+1).toString() + \", \";\n      nChannels += 1;\n  }\n}\nstatus = status / hi;\nfor (i = 0; i < n_chan-32; i++) {\n  if ((status >>> i) & 1) {\n      output += (32+i+1).toString() + \", \";\n      nChannels += 1;\n  }\n}\noutput = output.slice(0, -2);\n\nmsg.payload.channelOutput = output;\nmsg.payload.nChannels = nChannels;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":220,"wires":[["79ee1648.5d7c38","51f45a5d.fea074","d492be95.caa2","976330d4.416398"]]},{"id":"79ee1648.5d7c38","type":"ui_text","z":"20ad0667.88f3a2","group":"7e5e096a.4adf6","order":3,"width":0,"height":0,"name":"Channels","label":"Channels:","format":"{{msg.payload.channelOutput}}","layout":"row-spread","x":740,"y":220,"wires":[]},{"id":"a260578c.2e48e8","type":"inject","z":"20ad0667.88f3a2","name":"refresh","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"str","x":460,"y":440,"wires":[["30b7cd20.06f51a"]]},{"id":"bc9d9d46.491dd8","type":"inject","z":"20ad0667.88f3a2","name":"debug","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"lv\":0, \"hv\": 0, \"channels\":0}","payloadType":"json","x":130,"y":260,"wires":[["71a6e2f9.5e3684"]]},{"id":"10fed0de.344b7f","type":"ui_dropdown","z":"20ad0667.88f3a2","name":"mode","label":"Control over","tooltip":"Switch wifi/USB control","place":"Select option","group":"e0b0bdf.5e1cd4","order":0,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Wifi","value":true,"type":"bool"},{"label":"USB","value":false,"type":"bool"}],"payload":"","topic":"topic","topicType":"msg","x":270,"y":20,"wires":[["3f86d106.0c2586"]]},{"id":"334bccab.4f09c4","type":"inject","z":"20ad0667.88f3a2","name":"Default = wifi","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":20,"wires":[["10fed0de.344b7f"]]},{"id":"b1f61031.f48858","type":"serial in","z":"20ad0667.88f3a2","name":"SB-ttyUSB0","serial":"c189fb17.b06b5","x":90,"y":100,"wires":[["6d97da36.0a3b4c"]]},{"id":"6d97da36.0a3b4c","type":"json","z":"20ad0667.88f3a2","name":"","property":"payload","action":"","pretty":false,"x":230,"y":100,"wires":[["85fa3581.a95ac"]]},{"id":"85fa3581.a95ac","type":"function","z":"20ad0667.88f3a2","name":"block USB?","func":"var mode = flow.get(\"mode\");\n\nif (!mode) {\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":100,"wires":[["71a6e2f9.5e3684"]]},{"id":"39e419a1.8492c6","type":"function","z":"20ad0667.88f3a2","name":"block USB?","func":"var mode = flow.get(\"mode\");\n\nif (!mode) {\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":340,"wires":[["98c10749.2d76b8"]]},{"id":"98c10749.2d76b8","type":"serial out","z":"20ad0667.88f3a2","name":"","serial":"c189fb17.b06b5","x":1070,"y":340,"wires":[]},{"id":"c5862060.3d955","type":"ui_button","z":"20ad0667.88f3a2","name":"Disable all channels","group":"7bd74f62.b0fa5","order":3,"width":0,"height":0,"passthru":false,"label":"Disable all channels","tooltip":"","color":"","bgcolor":"","icon":"","payload":"CH*|OFF","payloadType":"str","topic":"SB/cmd","topicType":"str","x":460,"y":640,"wires":[["abeaeb1c.8f14c"]]},{"id":"abeaeb1c.8f14c","type":"function","z":"20ad0667.88f3a2","name":"pass through","func":"return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":280,"wires":[["39e419a1.8492c6","ee8751d0.e22ba"]]},{"id":"3f86d106.0c2586","type":"change","z":"20ad0667.88f3a2","name":"set USB/wifi mode","rules":[{"t":"set","p":"mode","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":20,"wires":[[]]},{"id":"25d899e.bd6ce66","type":"template","z":"20ad0667.88f3a2","name":"CH?ON template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CH{{flow.channel}}|ON","output":"str","x":630,"y":560,"wires":[["abeaeb1c.8f14c"]]},{"id":"a9e4fdeb.818d9","type":"change","z":"20ad0667.88f3a2","name":"set flow channel","rules":[{"t":"set","p":"channel","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":520,"wires":[[]]},{"id":"7d4a45b1.42eb54","type":"template","z":"20ad0667.88f3a2","name":"CH?OFF template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CH{{flow.channel}}|OFF","output":"str","x":630,"y":600,"wires":[["abeaeb1c.8f14c"]]},{"id":"6c9542cc.6cf2a4","type":"ui_button","z":"55eb0f04.c90b48","name":"Clear alarms","group":"c16c8393.f6e92","order":2,"width":0,"height":0,"passthru":false,"label":"Clear alarms","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"MARTA/cmd/clear_alarms","topicType":"str","x":590,"y":80,"wires":[["bbd77a3c.9a74f"]]},{"id":"8dcbc804.716fd","type":"ui_button","z":"55eb0f04.c90b48","name":"Reconnect","group":"c16c8393.f6e92","order":7,"width":3,"height":1,"passthru":false,"label":"Reconnect Modbus","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"MARTA/cmd/reconnect","topicType":"str","x":590,"y":40,"wires":[["bbd77a3c.9a74f"]]},{"id":"bbd77a3c.9a74f","type":"mqtt out","z":"55eb0f04.c90b48","name":"Commands","topic":"","qos":"0","retain":"","broker":"26584c7e.c410f4","x":870,"y":140,"wires":[]},{"id":"2c45352e.7bbe32","type":"mqtt in","z":"55eb0f04.c90b48","name":"MARTA status","topic":"MARTA/status","qos":"0","datatype":"json","broker":"26584c7e.c410f4","x":150,"y":180,"wires":[["4b1849d7.e7ba68","2492744b.5b89d4","52918a98.5896ec","d8af9ef2.7339f8","d096dee8.d005c8","22bb038b.4e6a24","8ca0ca2e.4686c","5ef238f1.d957","a7fcec15.2c3128","c731f638.98b798","53b53e8c.a94dd8","7c88da1e.2000e4","a4f0828d.974d1","eb4561ca.2fc658","d21e42a7.c2535","e49cf6f5.67cdb"]]},{"id":"4b1849d7.e7ba68","type":"ui_text","z":"55eb0f04.c90b48","group":"c16c8393.f6e92","order":1,"width":0,"height":0,"name":"DCS FSM state","label":"FSM state","format":"{{msg.payload.fsm_state}}","layout":"row-spread","x":320,"y":60,"wires":[]},{"id":"b218082b.5c3f58","type":"ui_button","z":"55eb0f04.c90b48","name":"Start chiller","group":"c16c8393.f6e92","order":3,"width":3,"height":1,"passthru":false,"label":"Start chiller","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"MARTA/cmd/start_chiller","topicType":"str","x":590,"y":120,"wires":[["bbd77a3c.9a74f"]]},{"id":"364bd86.ce0e7a8","type":"ui_button","z":"55eb0f04.c90b48","name":"Stop chiller","group":"c16c8393.f6e92","order":4,"width":3,"height":1,"passthru":false,"label":"Stop chiller","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"MARTA/cmd/stop_chiller","topicType":"str","x":590,"y":160,"wires":[["bbd77a3c.9a74f"]]},{"id":"367ec931.d9bc96","type":"ui_button","z":"55eb0f04.c90b48","name":"Start CO2","group":"c16c8393.f6e92","order":5,"width":3,"height":1,"passthru":false,"label":"Start CO2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"MARTA/cmd/start_co2","topicType":"str","x":580,"y":200,"wires":[["bbd77a3c.9a74f"]]},{"id":"ffe203f6.a9a5e8","type":"ui_button","z":"55eb0f04.c90b48","name":"Stop CO2","group":"c16c8393.f6e92","order":6,"width":3,"height":1,"passthru":false,"label":"Stop CO2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"MARTA/cmd/stop_co2","topicType":"str","x":580,"y":240,"wires":[["bbd77a3c.9a74f"]]},{"id":"5516809e.c95f58","type":"ui_button","z":"55eb0f04.c90b48","name":"Refresh","group":"c16c8393.f6e92","order":8,"width":3,"height":1,"passthru":true,"label":"Refresh interface","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"MARTA/cmd/refresh","topicType":"str","x":580,"y":300,"wires":[["bbd77a3c.9a74f"]]},{"id":"2492744b.5b89d4","type":"function","z":"55eb0f04.c90b48","name":"visibility","func":"var reconnect_enabled = false;\nvar clear_enabled = false;\nvar start_chiller_enabled = false;\nvar stop_chiller_enabled = false;\nvar start_co2_enabled = false;\nvar stop_co2_enabled = false;\n\nif (msg.payload.fsm_state == \"ALARM\") {\n    clear_enabled = true;\n}\nif (msg.payload.fsm_state == \"DISCONNECTED\") {\n    reconnect_enabled = true;\n}\nif (msg.payload.fsm_state == \"CONNECTED\") {\n    start_chiller_enabled = true;\n}\nif (msg.payload.fsm_state == \"CHILLER_RUNNING\") {\n    stop_chiller_enabled = true;\n    start_co2_enabled = true;\n}\nif (msg.payload.fsm_state == \"CO2_RUNNING\") {\n    stop_co2_enabled = true;\n}\n\nreturn [\n    { enabled: reconnect_enabled }, \n    { enabled: clear_enabled }, \n    { enabled: start_chiller_enabled }, \n    { enabled: stop_chiller_enabled },\n    { enabled: start_co2_enabled },\n    { enabled: stop_co2_enabled}\n    ];","outputs":6,"noerr":0,"initialize":"","finalize":"","x":340,"y":180,"wires":[["8dcbc804.716fd"],["6c9542cc.6cf2a4"],["b218082b.5c3f58"],["364bd86.ce0e7a8"],["367ec931.d9bc96"],["ffe203f6.a9a5e8"]]},{"id":"ca20eaab.acac4","type":"ui_switch","z":"55eb0f04.c90b48","name":"Flow active","label":"Flow active","tooltip":"","group":"237a9970.0a6116","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":590,"y":340,"wires":[["7a7858e7.9a655"]]},{"id":"52918a98.5896ec","type":"change","z":"55eb0f04.c90b48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.set_flow_active","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":340,"wires":[["ca20eaab.acac4"]]},{"id":"7a7858e7.9a655","type":"mqtt out","z":"55eb0f04.c90b48","name":"Set flow active","topic":"MARTA/cmd/set_flow_active","qos":"0","retain":"","broker":"26584c7e.c410f4","x":860,"y":340,"wires":[]},{"id":"f5bd7fea.25701","type":"mqtt in","z":"55eb0f04.c90b48","name":"MARTA alarms","topic":"MARTA/alarms","qos":"0","datatype":"utf8","broker":"26584c7e.c410f4","x":400,"y":520,"wires":[["bc2fc9e9.8ebef"]]},{"id":"3bce965d.48b24a","type":"ui_text_input","z":"55eb0f04.c90b48","name":"Setpoint","label":"Setpoint","tooltip":"","group":"237a9970.0a6116","order":2,"width":0,"height":0,"passthru":false,"mode":"number","delay":"0","topic":"topic","topicType":"msg","x":580,"y":380,"wires":[["9bdf9efc.f48cf"]]},{"id":"d8af9ef2.7339f8","type":"change","z":"55eb0f04.c90b48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature_setpoint","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":580,"wires":[["b9d9943b.597ed8"]]},{"id":"d096dee8.d005c8","type":"change","z":"55eb0f04.c90b48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.LP_speed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":620,"wires":[["6e7f608d.888fd"]]},{"id":"b3afc1eb.6a3c18","type":"ui_text_input","z":"55eb0f04.c90b48","name":"Pump speed setpoint","label":"Pump speed setpoint","tooltip":"","group":"237a9970.0a6116","order":3,"width":0,"height":0,"passthru":false,"mode":"number","delay":"0","topic":"topic","topicType":"msg","x":620,"y":420,"wires":[["7237556f.c94994"]]},{"id":"ed9b9aeb.704f68","type":"ui_text_input","z":"55eb0f04.c90b48","name":"Flow setpoint","label":"Flow setpoint","tooltip":"","group":"237a9970.0a6116","order":4,"width":0,"height":0,"passthru":false,"mode":"number","delay":"0","topic":"topic","topicType":"msg","x":590,"y":460,"wires":[["b82ac592.c8974"]]},{"id":"22bb038b.4e6a24","type":"change","z":"55eb0f04.c90b48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.FT01_CO2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":660,"wires":[["ee6df227.2f97"]]},{"id":"b9d9943b.597ed8","type":"ui_gauge","z":"55eb0f04.c90b48","name":"Temperature setpoint","group":"f29851fd.f560d8","order":1,"width":4,"height":3,"gtype":"gage","title":"<font size=\"2\">T° setpoint</font>","label":"°C","format":"{{value| number:1}}","min":"-35","max":"20","colors":["#5777ff","#00e608","#ca3838"],"seg1":"-10","seg2":"0","x":640,"y":580,"wires":[]},{"id":"6e7f608d.888fd","type":"ui_gauge","z":"55eb0f04.c90b48","name":"Pump speed","group":"f29851fd.f560d8","order":4,"width":3,"height":2,"gtype":"gage","title":"<font size=\"2\">CO2 pump speed</font>","label":"RPM","format":"{{value| number:0}}","min":"0","max":"6000","colors":["#19ff00","#eefe0b","#ca3838"],"seg1":"2000","seg2":"4000","x":610,"y":620,"wires":[]},{"id":"ee6df227.2f97","type":"ui_gauge","z":"55eb0f04.c90b48","name":"Flow","group":"f29851fd.f560d8","order":5,"width":3,"height":2,"gtype":"gage","title":"<font size=\"2\">CO2 flow</font>","label":"g/s","format":"{{value| number:2}}","min":"0","max":"4","colors":["#19ff00","#eefe0b","#ca3838"],"seg1":"2","seg2":"3","x":590,"y":660,"wires":[]},{"id":"d69ae52f.da53e","type":"ui_gauge","z":"55eb0f04.c90b48","name":"Temperature feedback","group":"f29851fd.f560d8","order":3,"width":4,"height":3,"gtype":"gage","title":"<font size=\"2\">T° feedback</font>","label":"°C","format":"{{value| number:1}}","min":"-35","max":"20","colors":["#5777ff","#00e608","#ca3838"],"seg1":"-10","seg2":"0","x":640,"y":700,"wires":[]},{"id":"c307515e.fd0d08","type":"ui_gauge","z":"55eb0f04.c90b48","name":"Temporary setpoint","group":"f29851fd.f560d8","order":2,"width":4,"height":3,"gtype":"gage","title":"<font size=\"2\">Temp. setpoint</font>","label":"°C","format":"{{value| number:1}}","min":"-35","max":"20","colors":["#5777ff","#00e608","#ca3838"],"seg1":"-10","seg2":"0","x":630,"y":740,"wires":[]},{"id":"521d6649.e50388","type":"ui_template","z":"55eb0f04.c90b48","group":"c16c8393.f6e92","name":"Alarms text","order":9,"width":6,"height":7,"format":"<p>Messages:</p>\n<font size=\"1\">\n    <div ng-bind-html=\"msg.payload\"></div>\n</font>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":750,"y":520,"wires":[[]]},{"id":"8ca0ca2e.4686c","type":"change","z":"55eb0f04.c90b48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.ST04_CO2_calc","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":700,"wires":[["d69ae52f.da53e"]]},{"id":"5ef238f1.d957","type":"change","z":"55eb0f04.c90b48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.TC04_TSP","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":740,"wires":[["c307515e.fd0d08"]]},{"id":"9bdf9efc.f48cf","type":"mqtt out","z":"55eb0f04.c90b48","name":"Set setpoint","topic":"MARTA/cmd/set_temperature_setpoint","qos":"0","retain":"","broker":"26584c7e.c410f4","x":850,"y":380,"wires":[]},{"id":"7237556f.c94994","type":"mqtt out","z":"55eb0f04.c90b48","name":"Set speed setpoint","topic":"MARTA/cmd/set_speed_setpoint","qos":"0","retain":"","broker":"26584c7e.c410f4","x":870,"y":420,"wires":[]},{"id":"b82ac592.c8974","type":"mqtt out","z":"55eb0f04.c90b48","name":"Set flow setpoint","topic":"MARTA/cmd/set_flow_setpoint","qos":"0","retain":"","broker":"26584c7e.c410f4","x":860,"y":460,"wires":[]},{"id":"bc2fc9e9.8ebef","type":"function","z":"55eb0f04.c90b48","name":"","func":"msg.payload = msg.payload.replace(\"\\n\", \"<br>\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":520,"wires":[["521d6649.e50388"]]},{"id":"a7fcec15.2c3128","type":"change","z":"55eb0f04.c90b48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.DP03_CO2_calc","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":780,"wires":[["ce731920.6c6df8"]]},{"id":"ce731920.6c6df8","type":"ui_gauge","z":"55eb0f04.c90b48","name":"Pump pressure drop (DP03)","group":"f29851fd.f560d8","order":6,"width":3,"height":2,"gtype":"gage","title":"<font size=\"2\">Pump ΔP (DP03)</font>","label":"bar","format":"{{value| number:1}}","min":"0","max":"10","colors":["#34ff00","#f0ff00","#ca3838"],"seg1":"4","seg2":"6","x":660,"y":780,"wires":[]},{"id":"c731f638.98b798","type":"change","z":"55eb0f04.c90b48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.DP04_CO2_calc","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":820,"wires":[["9a67f120.bb03e"]]},{"id":"9a67f120.bb03e","type":"ui_gauge","z":"55eb0f04.c90b48","name":"Experiment pressure drop (DP04)","group":"f29851fd.f560d8","order":7,"width":3,"height":2,"gtype":"gage","title":"<font size=\"2\">Exp. ΔP (DP04)</font>","label":"bar","format":"{{value| number:1}}","min":"0","max":"1","colors":["#34ff00","#f0ff00","#ca3838"],"seg1":"0.3","seg2":"0.7","x":680,"y":820,"wires":[]},{"id":"53b53e8c.a94dd8","type":"change","z":"55eb0f04.c90b48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.PT01_CO2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":860,"wires":[["2b7b711b.e57bce"]]},{"id":"2b7b711b.e57bce","type":"ui_gauge","z":"55eb0f04.c90b48","name":"Pressure before pump (PT01)","group":"f29851fd.f560d8","order":8,"width":4,"height":3,"gtype":"gage","title":"<font size=\"2\">Pressure before pump (PT01)</font>","label":"bar","format":"{{value| number:1}}","min":"0","max":"100","colors":["#34ff00","#f0ff00","#ca3838"],"seg1":"60","seg2":"80","x":670,"y":860,"wires":[]},{"id":"7c88da1e.2000e4","type":"change","z":"55eb0f04.c90b48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.PT01_CO2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":900,"wires":[["2c222eb1.e18efa"]]},{"id":"2c222eb1.e18efa","type":"ui_gauge","z":"55eb0f04.c90b48","name":"Accumulator pressure (PT04)","group":"f29851fd.f560d8","order":10,"width":4,"height":3,"gtype":"gage","title":"<font size=\"2\">Accumulator pressure (PT04)</font>","label":"bar","format":"{{value| number:1}}","min":"0","max":"100","colors":["#34ff00","#f0ff00","#ca3838"],"seg1":"60","seg2":"80","x":660,"y":900,"wires":[]},{"id":"8f75b58a.c2a8a","type":"ui_gauge","z":"55eb0f04.c90b48","name":"Local box pressure (PT06)","group":"f29851fd.f560d8","order":9,"width":4,"height":3,"gtype":"gage","title":"<font size=\"2\">Local box pressure (PT06)</font>","label":"bar","format":"{{value| number:1}}","min":"0","max":"100","colors":["#34ff00","#f0ff00","#ca3838"],"seg1":"60","seg2":"80","x":660,"y":940,"wires":[]},{"id":"a4f0828d.974d1","type":"change","z":"55eb0f04.c90b48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.PT06_CO2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":940,"wires":[["8f75b58a.c2a8a"]]},{"id":"eb4561ca.2fc658","type":"change","z":"55eb0f04.c90b48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.TT05_CO2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":980,"wires":[["a7081b5c.38935"]]},{"id":"d21e42a7.c2535","type":"change","z":"55eb0f04.c90b48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.TT06_CO2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1020,"wires":[["1430e009.d99f08"]]},{"id":"e49cf6f5.67cdb","type":"change","z":"55eb0f04.c90b48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.TT04_CO2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1060,"wires":[["17e19baf.2ee8b4"]]},{"id":"a7081b5c.38935","type":"ui_gauge","z":"55eb0f04.c90b48","name":"CO2 T° exp. supply","group":"f29851fd.f560d8","order":11,"width":4,"height":3,"gtype":"gage","title":"<font size=\"2\">CO2 T° exp. supply</font>","label":"°C","format":"{{value| number:1}}","min":"-35","max":"25","colors":["#5777ff","#00e608","#ca3838"],"seg1":"-10","seg2":"0","x":630,"y":980,"wires":[]},{"id":"1430e009.d99f08","type":"ui_gauge","z":"55eb0f04.c90b48","name":"CO2 T° exp. return","group":"f29851fd.f560d8","order":12,"width":4,"height":3,"gtype":"gage","title":"<font size=\"2\">CO2 T° exp. return</font>","label":"°C","format":"{{value| number:1}}","min":"-35","max":"25","colors":["#5777ff","#00e608","#ca3838"],"seg1":"-10","seg2":"0","x":630,"y":1020,"wires":[]},{"id":"17e19baf.2ee8b4","type":"ui_gauge","z":"55eb0f04.c90b48","name":"CO2 T° accumulator","group":"f29851fd.f560d8","order":13,"width":4,"height":3,"gtype":"gage","title":"<font size=\"2\">CO2 T° accumulator</font>","label":"°C","format":"{{value| number:1}}","min":"-35","max":"25","colors":["#5777ff","#00e608","#ca3838"],"seg1":"-10","seg2":"0","x":640,"y":1060,"wires":[]},{"id":"402b8ea.89407f","type":"ui_switch","z":"73aaaccb.05ac8c","name":"Use ext/int","label":"Use external sensor","tooltip":"","group":"bbab90b3.47e2b","order":8,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"useExt","onvalueType":"str","onicon":"","oncolor":"","offvalue":"useInt","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":130,"y":980,"wires":[["1cbb18d8.0eb907"]]},{"id":"27499dd1.5bf732","type":"function","z":"73aaaccb.05ac8c","name":"","func":"if (msg.payload.ext_is_used) {\n    msg.payload = \"useExt\";\n} else {\n    msg.payload = \"useInt\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":150,"y":680,"wires":[["402b8ea.89407f"]]}]